
<div class="row">
  <!-- col-md-3 dice que en pantallas medianas tenga el tama;o de
   tres posiciones ya que bootstrap maneja 12 posiciones en cada fila
   el col-sm-6 dice que en pantallas muy pequenas tome 6  -->
    <!-- <div  *ngFor="let gif of gifs" class="col-md-3 col-sm-6"> -->

        <gif-card
        *ngFor="let gi of gifs"
        [gif]="gi"
        class="col-md-3 col-sm-6"
        ></gif-card>

        <!-- <div class="card mb-2 text-center bg-dark">
          <img
              [src]="gif.images.downsized_medium.url"
              [alt]="gif.title"
              class="card-img-top">

              <div class="card-body text-white">
                <p class="card-text">{{gif.title}}</p>
              </div>
          </div>
      </div> -->


</div>


